<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 主要是用于struts2的action Class -->

    <bean id="userAction" class="com.topwisesz.topwiseos.webservice.action.UserAction">
        <property name="userService" ref="userService" />
    </bean>

</beans>